<div class="invoice-footer">
    <div class="row">
        <div class="col-sm-7">
            <div class="payment-methods">
                <h5>Payment Methods</h5>
                <img src="/img/invoice/mastercard.png" width="64" height="64" alt="mastercard">
                <img src="/img/invoice/visa.png" width="64" height="64" alt="visa">
            </div>
        </div>
        <div class="col-sm-5">
            <div class="invoice-sum-total pull-right">
                <h3><strong>Total: <span class="text-success">{{ totalDevis }} €</span></strong></h3>
            </div>
        </div>
    </div>
</div>
