</div>
<!-- end widget content -->
</div>
<!-- end widget div -->
</div>
<!-- end widget -->
</article>
{% if noSection is null %}
    <!-- END COL -->
    </div>
    <!-- END ROW -->
    </section>
{% endif %}
