<!-- User info -->
<div class="login-info">
    <span> <!-- User image size is adjusted inside CSS, it should stay as it -->

    <a href="javascript:void(0);" id="show-profil">

        <span>{#{ app.user.username }#}</span>
    </a>
</span>
</div>
<!-- end user info -->


<!-- NAVIGATION : This navigation is also responsive-->
<nav>
    <ul>
        <li>
            <a href="#" title="Devis"><i class="fa fa-lg fa-fw fa-file-excel-o"></i> <span class="menu-item-parent">Devis</span></a>
            <ul>
                <li>
                    <a href="#">Liste</a>
                </li>
                <li>
                    <a href="#">Nouveau</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" title="Prestation"><i class="fa fa-lg fa-fw fa-cubes"></i> <span class="menu-item-parent">Prestation</span></a>
            <ul>
                <li>
                    <a href="#">Liste</a>
                </li>
                <li>
                    <a href="#">Catégorie</a>
                </li>
                <li>
                    <a href="#">Nouveau</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" title="Hotel"><i class="fa fa-lg fa-fw fa-file-text"></i> <span class="menu-item-parent">Article</span></a>
            <ul>
                <li>
                    <a href="{{ path_for('article-list') }}">Liste</a>
                </li>
                <li>
                    <a href="{{ path_for('categorie-list') }}">Catégorie</a>
                </li>
                <li>
                    <a href="#">Nouveau</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" title="Hotel"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Hotels</span></a>
            <ul>
                <li>
                    <a href="#">Liste</a>
                </li>
                <li>
                    <a href="#">Nouveau</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Utilisateurs</span></a>
            <ul>
                <li>
                    <a href="#">Liste</a>
                </li>
                <li>
                    <a href="#">Ajout</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<span class="minifyme" data-action="minifyMenu">
    <i class="fa fa-arrow-circle-left hit"></i>
</span>
