{% extends 'layout.html.twig' %}

{% block ribbon %}
    <div id="ribbon">
        <ol class="breadcrumb"><li>Home</li><li>Tables</li><li>Data Tables</li></ol>
    </div>
{% endblock %}

{% block content %}

{% endblock %}
