{% extends 'layout.html.twig' %}

{% import 'Default/forms.html.twig' as forms %}

{% block ribbon %}
    <div id="ribbon">
        <ol class="breadcrumb"><li>Accueil</li><li>Catégorie</li><li>Edition</li></ol>
    </div>
{% endblock %}

{% block content %}
    {% include 'Default/form_open.html.twig' with {'title' : 'Catégorie'} %}
        <form action="{{ path_for('categorie-edit', {'id': categorie.id_categorie}) }}" class="smart-form" method="post">
            <header>
                {% if categorie.id_categorie %}Modification{% else %}Nouveau{% endif %}
            </header>

            <fieldset>
                {{ forms.hidden('id_categorie', categorie) }}
                {{ forms.input('label', 'Désignation', categorie) }}
            </fieldset>

            <footer>
                <button type="submit" class="btn btn-primary">
                    Enregistrer
                </button>
                <a type="button" class="btn btn-default" href="{{ path_for('categorie-list') }}">
                    Retour
                </a>
            </footer>
        </form>
    {% include 'Default/form_close.html.twig' %}
{% endblock %}
