{% extends 'layout.html.twig' %}

{% block ribbon %}
    <div id="ribbon">
        <ol class="breadcrumb"><li>Accueil</li><li>Article</li><li>Catégorie</li></ol>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Désignation</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id_categorie }}</td>
                <td>{{ categorie.label }}</td>
                <td>
                    <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(function () {
            $('.table').dataTable();
        });
    </script>
{% endblock %}
